/* === Base Colors - Dark Theme === */

.dark {
    /* === Base Colors === */
    --primary: #1d9de4;
    --primary-foreground: #ffffff;

    --secondary: #1f4d33;
    --secondary-foreground: #b9e0ca;

    --tertiary: #cc6bc4;
    --tertiary-foreground: var(--white);

    --accent: #183f29;
    --accent-foreground: #b9e0ca;

    --muted: #1c4632;
    --muted-foreground: #7fb595;

    /* === Message Colors === */
    --destructive: #f03e3e;
    --destructive-foreground: #ffffff;
    --warning: #e6a23c;
    --info: #4c95d4;
    --success: #3f9b3f;

    /* Background and foreground for the main UI */
    --background: #0b1a12;
    --foreground: #b9e0ca;

    /* === Borders, Inputs, and Rings === */
    --border: #1f4d33;
    --input: #1f4d33;
    --ring: #1d9de4;

    /* === Chart Colors === */
    --chart-1: #5fa5f9;
    --chart-2: #9c62e8;
    --chart-3: #6464e2;
    --chart-4: #6791db;
    --chart-5: #69c2d6;

    /* === Card & Popover Surfaces === */
    --card: #122f20;
    --card-foreground: #b9e0ca;
    --popover: #122f20;
    --popover-foreground: #b9e0ca;

    /* === Sidebar Colors === */
    --sidebar: #132f20;
    --sidebar-foreground: var(--secondary-foreground);
    --sidebar-primary: var(--secondary);
    --sidebar-primary-foreground: var(--secondary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--tertiary);
    --sidebar-ring: var(--muted);

    /* Lighthouse Colors */
    --lighthouse-primary-foreground: hsl(152, 42%, 10%);
    --lighthouse-primary: hsl(152, 42%, 55%);
    --lighthouse-secondary: hsl(215, 28%, 17%);
    --lighthouse-destructive: hsl(0, 63%, 31%);
    --lighthouse-border: hsl(0, 0%, 80%);
    --lighthouse-light: hsl(54, 100%, 70%, 0.8);
}
