/* === Colors - Light Theme === */

:root {
    --radius: 0.625rem;

    /* === Base Colors === */
    --primary: #1d9de4;
    --primary-foreground: #ffffff;
    --secondary: #69c497;
    --secondary-foreground: #1a2639;

    --tertiary: #cc6bc4;
    --tertiary-foreground: var(--white);

    --muted: #d4efe1;
    --muted-foreground: #536685;
    --accent: #c4e8d7;
    --accent-foreground: #1a2639; /* === Message Colors === */
    --destructive: #f03e3e;
    --destructive-foreground: #ffffff;

    --warning: #e5b265;
    --info: #4c95d4;
    --success: #3f9b3f;

    /* === Borders, Inputs, and Rings === */
    --border: #b9e0ca;
    --input: #b9e0ca;
    --ring: #1d9de4;

    /* === Chart Colors === */
    --chart-1: #a879c6;
    --chart-2: #975fc4;
    --chart-3: #4f6aaf;
    --chart-4: #5551af;
    --chart-5: #5dabbc;

    /* Background and foreground for the main UI */
    --background: #d3e7fa;
    --foreground: #1a2639;

    /* === Card & Popover Surfaces === */
    --card: #ffffff;
    --card-foreground: #1a2639;
    --popover: #ffffff;
    --popover-foreground: #1a2639;

    --popover: var(--primary);
    --popover-foreground: var(--primary-foreground);

    /* === Sidebar Colors === */
    --sidebar: var(--primary);
    --sidebar-foreground: var(--primary-foreground);
    --sidebar-primary: var(--secondary);
    --sidebar-primary-foreground: var(--secondary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--tertiary);
    --sidebar-ring: var(--muted);
}
